.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.git/**
.github/**
.yarn/**
node_modules/**
test/**
out/test/**
**/*.vsix
.editorconfig
.npmrc
.prettierrc
.prettierignore
.eslintignore
.eslintrc*
yarn-error.log
yarn.lock
biome.jsonc
.yarnrc.yml
